/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    left: 350px;;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo span {
    color: #ff6347; /* Highlight color for part of the logo */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.sign,
nav ul li a.buy {
    background-color: #ff6347;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

   
    align-items: center;
    padding: 20px;
}

/* Planet Section */
.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    column-gap: 10px;
}

.planet .left, .planet .mid, .planet .right {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #faf2f2;
}

button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5533d;
}

.img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

/* About Us Section */
.about-us {
   


    padding: 40px 20px;
    text-align: center;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    text-align: justify;
    margin-bottom: 20px;
}

.about-image {
    margin-top: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}




.offers {
    
    padding: 40px 20px;
    text-align: center;
}

.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer {

   color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
}

.offer h2 {
    font-size: 1.5em;
    color: aqua;
    margin-bottom: 10px;
}

.offer p {
    font-size: 1em;
    line-height: 1.5;
    color: whitesmoke;
    margin-bottom: 20px;
}

button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5533d;
}





.shop-now {
    text-align: center;
    padding: 40px;
}

.shop-now h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.shop-now p {
    font-size: 1.2em;
    color:whitesmoke;
    margin-bottom: 30px;
}

.shop-now button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-now button:hover {
    background-color: #e5533d;
}










/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    color: white;
    
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    background-image: url(bg.jpg);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .planet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
